$xs-width: 576px;
$s-widht: 1124px;
$m-width: 1160px;
$l-width: 1400px;
$xl-width: 1600px;
$full-width: 100%;

// Colors
$primary-color: #333333;
$secondary-color: #ffffff;
$accent-color-1: #6eb63c;
$accent-color-2: #c7d30a;
$bg-color: #ffffff;
