@import "@/app/styles/constants.scss";

.footer {
  &_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    border-top: solid 1px rgba($color: $primary-color, $alpha: 0.1);
    margin-top: 100px;

    @include l {
      margin-top: 75px;
    }

    @include m {
      margin-top: 60px;
    }

    @include xs {
      margin-top: 40px;
    }
    &.contact_us {
      margin-top: 0 !important;
    }

    @include xxs {
      flex-direction: column-reverse;
      gap: 12px;
    }
  }

  &_copyright {
    color: #0a2910bd;
    text-transform: uppercase;
    font-size: 12px;
  }

  &_social_links {
    display: flex;
    align-items: center;
    gap: 16px;

    &.right_part {
      transition: all 0.3s ease;
      a {
        border-color: $bg-color;

        @include s {
          border-color: rgba(10, 41, 16, 0.2);

          &:hover {
            border-color: rgba(10, 41, 16, 0.5);
          }
        }
      }
      path {
        fill: $bg-color;
        @include s {
          fill: unset;
        }
      }
    }
  }

  &_social_link {
    padding: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid 2px rgba(10, 41, 16, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      border: solid 2px rgba(10, 41, 16, 0.5);

      .icon path {
        fill-opacity: 1;
      }
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    transition: fill 0.3s ease;
    position: relative;

    path {
      width: 100%;
      height: 100%;
    }
  }
}
