@import "@/app/styles/constants.scss";
.news {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $primary-color;

  .section_title {
    margin-bottom: 16px;
  }

  .section_subtitle {
    margin-bottom: 48px;
    max-width: 50ch;
  }

  &_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 40px;
    width: 100%;
    justify-content: center;

    @include s {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
    }

    @include xs {
      column-gap: 16px;
      row-gap: 24px;
    }

    @include xxs {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
