@import "@/app/styles/constants.scss";

.contact_us {
  display: flex;
  align-items: center;
  .left_part,
  .right_part {
    width: 50%;
  }

  .left_part {
    position: relative;
    margin-top: 70px;
    @include s {
      width: 100%;
    }
  }

  .right_part {
    @include s {
      display: none;
      width: 0;
    }
  }

  .right_part img {
    height: 100%;
    width: 50%;
    position: absolute;
    object-fit: cover;
    top: 0;
    z-index: -1;
  }
}

.title {
  margin-bottom: 33px;
}
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &_wrapper {
    max-width: 675px;
    width: 100%;

    position: absolute;
    left: 8vw;
    @include xl {
      position: static;
    }

    @include s {
      margin: 0 auto;
    }
  }

  h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .form_group {
    label {
      display: block;
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 32px;
      @include s {
        font-size: 16px;
        line-height: 28px;
      }

      @include xs {
        font-size: 14px;
        line-height: 24px;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      width: 100%;
      outline: none;
      border: none;
      background-color: transparent;
      padding: 12px 0;
      font-size: 18px;
      line-height: 32px;
      color: $primary-color;
      border-bottom: 1px solid rgba($color: $primary-color, $alpha: 0.2);
    }

    .error {
      color: red;
      font-size: 14px;
      margin-top: 4px;
    }
  }
  .checkbox {
    display: flex;
    align-items: center;
    color: rgba($color: $primary-color, $alpha: 0.74);

    input {
      margin-right: 12px;
      height: 24px;
      width: 24px;
      accent-color: $accent-color-1;
      -moz-appearance: none;
      -webkit-appearance: none;
      -o-appearance: none;
      border: solid 1px rgba($color: $primary-color, $alpha: 0.2);
      border-radius: 4px;
      cursor: pointer;
      background-color: #fff;
      transition: background-color 0.3s ease, border-color 0.3s ease;

      &:checked {
        accent-color: $accent-color-1;
        border: solid 1px $accent-color-1;
        background-color: $accent-color-1;
        position: relative;
        &::before {
          content: "\2713";
          color: #fff;
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &:hover {
        border: solid 1px darken($accent-color-1, 10%);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px lighten($accent-color-1, 20%);
      }
    }

    a {
      color: $accent-color-1;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        text-decoration: underline;
        color: rgba($color: $accent-color-1, $alpha: 0.8);
      }
    }
  }

  button {
    width: 100%;
    padding: 16px;
    background-color: $accent-color-1;
    color: $bg-color;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba($color: $accent-color-1, $alpha: 0.8);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
